body
{
padding:0px;
margin:8px;
}
.header
{  margin:0px;
background-color:#356337;
color:white;
text-align:center;
top:0px;
width:100%;
padding:5px;
font-size:16px;
height:80px;
}

form
{
width:40%;
padding:3px;
border:1px solid #cbcbcb;
margin:5px auto;

}
.textInput
{
margin-top:2px;
height:28px;
border:1px solid #5E6E66;
font-size:16px;
padding:1px;
width:100%;
}
 
td
{
 text-align:right;
}
#error_msg
{
width:50%;
margin:5px auto;
height:30px;
border:1px solid #FF0000;
background:#FFB9B8;
color:#FF0000;
text-align:center;
padding-top:10px;
}
#menu {

background:#356337;
margin: 2px;
padding: 0;
border: 10px solid #356337; 
width: 150px ;
height:50px;

}
a:hover { color: #c2d0c3; }
a{text-decoration: none}
#menu ul, #menu li{
	font-color:white;
list-style-type: none;
margin: 0px auto;
padding: 0; 
text-align:center;
font-size:20px;


}
.tekst
{
position: absolute;
left: 210px;
top:135px;
margin:0px auto;
background-color:white;
color:#356337;
padding:0px;
font-size:12px ;
width: 180px;
float: left;
vertical-align: top;
text-align: left;
}
.register
{
	width:100px;
	text-align:center;
}


body {
    padding: 10px;
}

.plansza {
    margin:30px auto;
    position: relative;
    background: #fff;
    overflow: hidden;
    width: 550px;
    height: 444px;
    border: 2px solid #ddd;
}

.kafelek {
    position: absolute;
    cursor: pointer;
    float: left;
    width: 100px;
    height: 100px;
    background: #356337 url(images/title.png) center center no-repeat;
    margin: 10px;
}

.kafelek:hover {
    background-color:#c2d0c3;
}
